*{

   margin: 0;
   padding: 0;
   
}

body{

    width: 100%;
}

.headerContainer{

    background-image: url(../images/pexels-lumn-167699.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    height: 330px;
    width: 100%;
    
}