*{

   margin: 0;
   padding: 0;
   
}

body{

    width: 100%;
}

.headerContainer{

    background-image: url(../images/pexels-photo-314726.jpeg);
    background-repeat: no-repeat;
    height: 330px;
    
}