
body{

    background-image: url(../images/pexels-eberhard-grossgasteiger-1292115.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

input {

    height: 40px;
}



.info-container {
    
    height: 300px;
    display: none;
}

#btn {

    width: 100px;
}

ul li {

    list-style: none;
}